form {
    margin: auto;
}

button {
    margin-left: 20px;
    margin-bottom: 5px;
}

button span {
    color: white;
}

button span mat-icon {
    position: relative;
    top: 6px;
}

.recipeDetails {
    max-width: 700px;
    text-align: center;
    height: auto;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-color: #99DEAB;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}
@media (max-width: 992px) {
    .recipeDetails {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .recipeDetails {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        border: none;
        padding: 16px 0px;
    }

    mat-card-actions {
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }
}

.divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #00C853;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.divider .dividerIcon {
    background:#fff;
    padding:0 10px;
    position: relative;
    top: 12px;
}

img {
    max-width: 100%;
    min-height: auto;
    border-radius: 50px;
  }

.mat-form-field{
    width:300px !important;
}

.delete:hover {
    background-color: rgb(167, 7, 7);
    color: white;
}

.add-button:hover {
    background-color: rgb(8, 112, 34);
}

.submit:hover:disabled{
    background-color: #E0E0E0;
 }

.submit:hover {
    background-color: green;
    color: white;
}

.cancel:hover {
    background-color:gray;
    color: white;
}

