<p>add-recipe works!</p>

<form>
Name: <input [(ngModel)]="newRecipe.name">
<br/>
Description: <input [(ngModel)]="newRecipe.desc"> <!--text area box?-->
<br/>
Ingredients: <input [(ngModel)]="newRecipe.ingredients"> <!--Need Multiple input text boxes, user be able to click add a text box or delete if hits add & doesnt need-->
<br/>
Instructions: <input [(ngModel)]="newRecipe.instructions"> <!-- Need Multiple input boxes -->
<br/>
Cook Time:  <input [(ngModel)]="newRecipe.cookTime"> <!--Drop down menu?-->
<br/>
Difficulty: <input [(ngModel)]="newRecipe.difficulty"> <!--Drop down menu with 3 options-->
<br/>
Serving Size: <input [(ngModel)]="newRecipe.servingSize"> <!--Drop down or number entry?-->
<br/>
Image: <input [(ngModel)]="newRecipe.imageLink"> <!--Find out how user can upload an image from web, google drive, PC-->

</form>
<button>Submit</button>
