<app-nav-bar></app-nav-bar>

<form [formGroup]="newRecipe">

    <!-- Value: {{ newRecipe.value | json }} -->

    <hr>

    <mat-form-field class="full">
        <input matInput placeholder="Recipe Name" formControlName="name">
    </mat-form-field>

    <br>

    <mat-form-field class="full">
        <textarea matInput placeholder="Descrition" formControlName="desc"></textarea>
    </mat-form-field>

    <br>

    <div formArrayName="ingredients">

        <div *ngFor="let ingredient of ingredientForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field class="xs">
                <textarea matInput placeholder="Ingredient {{i +1}})" [formControl]="ingredientForms.controls[i]"></textarea>
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="deleteIngredient(i)">Delete</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addIngredient()">Add ingredient</button>

    <br>
    <br>

    <div formArrayName="instructions">

        <div *ngFor="let instruction of instructionForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field class="xs">
                <textarea matInput placeholder="Instruction {{i +1}})" [formControl]="instructionForms.controls[i]"></textarea>
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="deleteInstruction(i)">Delete</button>

        </div>

    </div>

    <button mat-raised-button color="primary" (click)="addInstruction()">Add instruction</button>

    <br>

    <mat-form-field class="full">
        <input matInput placeholder="Cook Time" formControlName="cookTime">
    </mat-form-field>

    <br>

    <mat-form-field class="full">
        <input matInput placeholder="Difficulty" formControlName="difficulty">
    </mat-form-field>

    <br>

    <mat-form-field class="full">
        <input type="number" matInput placeholder="Serving Size" formControlName="servingSize">
    </mat-form-field>

    <br>

    <mat-form-field class="full">
        <input  matInput placeholder="Image URL" formControlName="imageLink">
    </mat-form-field>
    <h6>To load you own image, using a hosting site like <a href="https://www.imgur.com">Imgur.com</a> and paste the link here.</h6>
    <h6>If working, your image will display below:</h6>
    <img src={{newRecipe.value.imageLink}}>

</form>

<button (click)=backClicked()>Cancel</button>

<button (click)="addRecipe()">Submit</button>




