
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoTLoT</title>
  <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="bg">
  <div class="main-div">
    <mat-card class="center">
      <img mat-card-image src="/assets/images/logo.png/">
      <button class="continue" mat-raised-button color="primary" (click)="authService.GoogleAuth()">Continue With Google</button>
    </mat-card>
  </div>
</body>
</html>