
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoTLoT</title>
</head>
<body class="bg">
  <div class="container">
    <div class="sliding-background">
      <div class="main-div">
        <mat-card class="center">
          <img mat-card-image src="https://sotlotproject.web.app/assets/images/logo3.PNG">
          <button class="continue" mat-raised-button color="primary" (click)="authService.GoogleAuth()">Continue with Google</button>
        </mat-card>
      </div>
    </div>
  </div>
</body>
</html>
