
 <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <app-nav-bar></app-nav-bar>
  <br/>
  <body class="bg">
  <mat-card class="recipeBookDetails">
    <mat-card-header>
      <mat-card-title class="card-container-center">{{recipe.name}}</mat-card-title>
      <br>
      <mat-card-subtitle>{{recipe.desc}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{recipe.imageLink}}>
    <h3>Serving Size: {{recipe.servingSize}}</h3>
    <div class="divider">
      <mat-icon class="dividerIcon">schedule</mat-icon>
    </div>
    <h3>Cook Time: {{recipe.cookTime}}</h3>
    <h3>Difficulty: {{recipe.difficulty}}</h3>
    <div class="divider">
      <mat-icon class="dividerIcon">restaurant</mat-icon>
    </div>
      <h3>Ingredients</h3>
    <mat-card-content class="card-container-left">
      <ul >
        <li *ngFor="let ingredients of recipe.ingredients">{{ingredients}}</li>
      </ul>
      </mat-card-content>
      <div class="divider">
        <mat-icon class="dividerIcon">menu_book</mat-icon>
      </div>
      <h3>Instructions</h3>
      <mat-card-content class="card-container-left">
      <ol>
        <li *ngFor="let instructions of recipe.instructions">{{instructions}}</li>
      </ol>
    </mat-card-content>
    <mat-card-actions>
      <button class="delete" color="secondary" mat-raised-button (click)="deleteUserRecipe(recipe.id, user.uid)">Delete</button>
      <a [routerLink]="['/savedrecipes/edit', recipe.id ]"><button class="edit" color="primary" mat-raised-button>Edit</button></a>
    </mat-card-actions>
  </mat-card>
  </body>
  </html>
