<app-nav-bar></app-nav-bar>

<p>recipebook-detail works!</p>

  <img src={{recipe.imageLink}}>

<table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Ingredients</th>
      <th>Instructions</th>
      <th>Cook Time</th>
      <th>Difficulty</th>
      <th>Serving Size</th>


    </thead>
    <tbody>
      <tr>

        <td>{{recipe.name}}</td>
        <td>{{recipe.desc}}</td>
        <td>{{recipe.ingredients}}</td>
        <td>{{recipe.instructions}}</td>
        <td>{{recipe.cookTime}}</td>
        <td>{{recipe.difficulty}}</td>
        <td>{{recipe.servingSize}}</td>
     

        <td>
          <!-- Update to route to edit component and use recipe.id as a param -->
            <a [routerLink]="['/savedrecipes/edit', recipe.id ]"><button>Edit</button></a>
        </td>
      </tr>
    </tbody> 
  </table>
