<mat-dialog-content class="color" *ngIf="authService.userData as user">
    <h2 mat-dialog-title>Account Info</h2>
    <div>
        <img style="width: 25%; height: 25%;" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
    </div>
    <div>
        <h1><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
        <p><strong>{{user.email}}</strong></p>
    </div>
    <button class="mat-raised-button close"(click)="close()">Close</button>
    <button mat-dialog-close class="mat-raised-button mat-primary logout"(click)="authService.SignOut()">Log Out</button>
</mat-dialog-content>
