button {
    margin: 5%;
}
.color {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.logout{
  color:white;
}

.logout:hover{
  background-color: green;
}

.close:hover{
 background-color: gray;
 color:white;
}
