<app-nav-bar></app-nav-bar>


<!-- Saved recipes -->
<br>
<br>

<h1 class="page-title">Saved Recipes</h1>
<br>

<mat-form-field appearance="outline" class=full>
  <mat-label class="label-font">Search</mat-label>
    <input 
    matInput type="search"  class="input-text" [(ngModel)]="search" [ngModelOptions]="{ standalone: true }"/>
  <button class="accept" mat-button matSuffix mat-stroked-button  aria-label="search">
    <mat-icon class="search" (click)="searchUserRecipes(search)">search</mat-icon>
  </button>
  <button class=cancel mat-button matSuffix mat-stroked-button >
    <mat-icon class="clear" (click)="getUserRecipes()">clear</mat-icon>
  </button>
</mat-form-field>


<br>
<br>

<mat-grid-list [cols]="isMobile ? 1 : 3" rowHeight="600px">
  <mat-grid-tile class="tile" *ngFor="let recipe of recipes" [colspan]=1 [rowspan]=1>
    <mat-card color="background" class="dashboard-card">
        <a class="mat-card-image" [routerLink]="['/savedrecipes', recipe.id]">
          <img class="all-img" src="{{recipe.imageLink}}" alt="">
        </a>
      <mat-card-title class="card-container-center">{{recipe.name}}</mat-card-title>
      <mat-card-content class="desc">
        <h3>{{recipe.desc}}</h3>
      </mat-card-content>
      <mat-card-actions class="buttons">
        <button class="create" mat-fab color="primary" [routerLink]="['/savedrecipes/edit', recipe.id ]"><mat-icon style="color: white;">create</mat-icon></button>
        <button class="delete" mat-fab color="primary" (click)="deleteUserRecipe(recipe.id, user.uid)"><mat-icon style="color: white;">delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>