<app-nav-bar></app-nav-bar>


<!-- Saved recipes -->
<br>
<br>

<h1 class="page-title">Saved Recipes</h1>
<br>

<mat-form-field class="full">
  <input matInput placeholder="Search" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
</mat-form-field>
<mat-icon button class="search" aria-hidden="true" style="align-items: right" (click)="searchUserRecipes(search)">search</mat-icon>
<mat-icon button class="clear" aria-hidden="true" style="align-items: right" (click)="getUserRecipes()">clear</mat-icon>

<br>
<br>

<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile *ngFor="let recipe of recipes" [colspan]=1 [rowspan]=1>
      <mat-card class="saved-page-card">
        <mat-card-header class="card-header">
          <mat-card-title>{{recipe.name}}</mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>
                <mat-icon class="icon">notes</mat-icon><span [routerLink]="['/savedrecipes', recipe.id]">See More</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="icon">create</mat-icon><span [routerLink]="['/savedrecipes/edit', recipe.id ]">Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="icon">delete</mat-icon><span (click)="deleteUserRecipe(recipe.id, user.uid)">Delete</span>
              </button>
            </mat-menu>
        </mat-card-header>
        <mat-card-content class="saved-card-content">
        <a class="mat-card-image" [routerLink]="['/savedrecipes', recipe.id]">
          <img mat-card-image src={{recipe.imageLink}}>
        </a></mat-card-content>
        <mat-card-content class="dashboard-card-content">
          <div class="card-desc" style="text-align: center;">{{recipe.desc}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
