html, body {
  height: 100%;

 }

body {
  height: auto;
  background: url('https://sotlotproject.web.app/assets/images/newbackground1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 120vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding:0;
  position: relative;
}

*{
  margin: 0;
  padding: 0;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
}

@media ( max-width : 500px) {
  body{
    background: url('https://sotlotproject.web.app/assets/images/newbackground1.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}