<p>recipes-list works!</p>
<table>
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Ingredients</th>
          <th>Instructions</th>
          <th>Cook Time</th>
          <th>Difficulty</th>
          <th>Serving Size</th>
          <th>Image</th>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of recipes">
      
            <td>{{recipe.name}}</td>
            <td>{{recipe.desc}}</td>
            <td>{{recipe.ingredients}}</td>
            <td>{{recipe.instructions}}</td>
            <td>{{recipe.cook_time}}</td>
            <td>{{recipe.difficulty}}</td>
            <td>{{recipe.serving_size}}</td>
            

            <td>
                <button (click)="delete(recipe.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
<div class="container-fluid">
  <div class="row">
    

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    <!-- Calling SignOut() Api from AuthService -->
    <div>
      <button (click)="authService.SignOut()">Log Out</button>
    </div>
  </div>
</div>
      