
.pointer span {
    color: white;
}

.icon {
    margin: 0 10px 0 0;
    position: relative;
    top:4px;
    color: white;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .pointer {
    cursor: pointer;
    margin: 0 14px;
}

img{
  height: 35px;
  position: relative;
  top:4px;
}

.title span{
  position: relative;
  bottom:6px;
  left:15px;
}
@media (max-width: 992px) {
    .tabHide {
    display: none;
    }
}
