<p>recipe-details works!</p>
<table>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Instructions</th>
    <th>Cook Time</th>
    <th>Difficulty</th>
    <th>Serving Size</th>
    <th>Image</th>
  </thead>
  <tbody>

    <tr *ngFor="let recipe of recipes"> <!--need to change function in service/ts-->

      <td>{{recipe.name}}</td>
      <td>{{recipe.desc}}</td>
      <td>{{recipe.ingredients}}</td>
      <td>{{recipe.instructions}}</td>
      <td>{{recipe.cookTime}}</td>
      <td>{{recipe.difficulty}}</td>
      <td>{{recipe.servingSize}}</td>
      <td>{{recipe.imageLink}}</td>
      <button onclick="saveRecipe()">Save Recipe</button>
  </tr>
  </tbody>
</table>

