<app-nav-bar></app-nav-bar>

<img src={{recipe.imageLink}}>

<table>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Instructions</th>
    <th>Cook Time</th>
    <th>Difficulty</th>
    <th>Serving Size</th>

  </thead>
  <tbody>

    <tr>

      <td>{{recipe.name}}</td>
      <td>{{recipe.desc}}</td>
      <td>{{recipe.ingredients}}</td>
      <td>{{recipe.instructions}}</td>
      <td>{{recipe.cookTime}}</td>
      <td>{{recipe.difficulty}}</td>
      <td>{{recipe.servingSize}}</td>
    
      <button (click)="saveRecipe()">Save Recipe</button>
  </tr>
  </tbody>
</table>

