<p>dashboard works!</p>

<!-- Saved recipes -->
<p>Saved</p>
<table>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
  </thead>
  <tbody>
    <tr *ngFor="let userRecipe of userRecipes"> 
      <td>{{userRecipe.name}}</td>
      <td>{{userRecipe.desc}}</td>
      <td>{{userRecipe.imageLink}}</td>
      <td><a [routerLink]="['/savedrecipes', userRecipe.id]">View</a></td>
    </tr> 
    <td>
      <button routerLink="create">Create New Recipe</button>
    </td>
  </tbody>
</table>

<!-- All recipes -->
<p>All</p>
<table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes"> 
        <td>{{recipe.name}}</td>
        <td>{{recipe.desc}}</td>
        <td>{{recipe.imageLink}}</td>
        <td><a [routerLink]="['/recipes', recipe.id]">View</a></td>
        <button onclick="saveRecipe(recipe.id)">Save Recipe</button>
      </tr> 
    </tbody>
</table>

